---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="notice--info">
    You can find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
  </div>
{% endif %}

{% include base_path %}

{% for category in site.publication_category %}
  <h2>{{ category[1].title }}</h2>
  {% assign sorted_publications = site.publications | sort: 'date' | reverse %}
  {% for post in sorted_publications %}
    {% if post.category == category[0] %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
{% endfor %}
